<div class="visits view">
    <div class="container">
        <header>
            <h3><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;Patient Information</h3>
        </header>
        <br />
        <div class="navbar">
            <ul class="nav navbar-nav">
                <li class="toolbar-item">
                    <a [routerLink]="['details']"
                       (click)="displayMode = displayModeEnum.Details"
                       [class.active]="displayMode === displayModeEnum.Details">
                        <span class="glyphicon glyphicon-list"></span>&nbsp;&nbsp;Patient Details
                    </a>
                </li>
                <li class="toolbar-item">
                    <a [routerLink]="['edit']"
                       (click)="displayMode = displayModeEnum.Edit"
                       [class.active]="displayMode === displayModeEnum.Edit">
                        <span class="glyphicon glyphicon-edit edit-icon"></span>&nbsp;&nbsp;Edit Patient
                    </a>
                </li>
            </ul>
        </div>
        <div class="container">
            <router-outlet></router-outlet>
            <br />
            <br />
            <a [routerLink]="['/patients']">View all Patients</a>
        </div>
    </div>
</div>






